{% extends 'base/header.html' %}
{% block main %}
    <div id="page_content_to_show">
        <!-- BEGIN .wrapper -->
        <div class="wrapper">
            <!-- BEGIN .content-main -->
            <div class="content-main">
                <div class="strict-block">
                    <div class="block-title">
                        <h2>Business Of Entertainment</h2>
                    </div>
                </div>

                <div class="strict-block">
                    <!-- BEGIN .block-content -->
                    <div class="item-block-5">

                        <div class="paragraph-row">
                            <div class="column6">
                                {% for recent_entertainmentd in recent_entertainment %}
                                <div class="article-split-block">

                                    <div class="item-photo">
                                         {% if recent_entertainmentd.is_old == 1 %}
                                        <a href="/article/{{recent_entertainmentd.title_for_url|urlencode}}/{{recent_entertainmentd.article_published_date|date:'d-m-Y'}}-{{recent_entertainmentd.article_id}}"><img src="{{recent_entertainmentd.image_url}}" height="258px" alt=""></a>
                                        {% else %}
                                        <a href="/article/{{recent_entertainmentd.title_for_url|urlencode}}/{{recent_entertainmentd.article_published_date|date:'d-m-Y'}}-{{recent_entertainmentd.article_id}}"><img src="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}{{ARTICLE_IMAGE_LARGE_PATH}}{{recent_entertainmentd.photopath}}" height="258px" alt=""></a>

                                        {% endif %}
                                    </div>
                                    <div class="item-content">
                                        <h2><a href="/article/{{recent_entertainmentd.title_for_url|urlencode}}/{{recent_entertainmentd.article_published_date|date:'d-m-Y'}}-{{recent_entertainmentd.article_id}}">{{recent_entertainmentd.article_title}}</a></h2>
                                        <div class="item-icons">
                                            <a href="#"><i class="fa fa-calendar"></i>{{recent_entertainmentd.article_published_date|date:"F d, Y"}}</a>
                                        </div>
                                        {% autoescape off %}
                                            <p>{{recent_entertainmentd.article_summary}}</p>
                                        {% endautoescape %}
                                        <a href="/article/{{recent_entertainmentd.title_for_url|urlencode}}/{{recent_entertainmentd.article_published_date|date:'d-m-Y'}}-{{recent_entertainmentd.article_id}}" class="trans-button"><i class="fa fa-align-right"></i>Read More</a>
                                    </div>
                                </div>
                                {%endfor%}

                            </div>
                            <div class="column6">
                                <div class="article-split-second">
                                   {%for recent_entertainmentlistd in recent_entertainment_list%}
                                    <div class="item">

                                        <div class="item-photo">
                                            {% if recent_entertainmentlistd.is_old == 1 %}
                                            <a href="/article/{{recent_entertainmentlistd.title_for_url|urlencode}}/{{recent_entertainmentlistd.article_published_date|date:'d-m-Y'}}-{{recent_entertainmentlistd.article_id}}"><img src="{{recent_entertainmentlistd.image_url}}" style="height:81px !important;" alt=""></a>
                                            {% else %}
                                             <a href="/article/{{recent_entertainmentlistd.title_for_url|urlencode}}/{{recent_entertainmentlistd.article_published_date|date:'d-m-Y'}}-{{recent_entertainmentlistd.article_id}}"><img src="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}{{ARTICLE_IMAGE_MEDIUM_PATH}}{{recent_entertainmentlistd.photopath}}" style="height:81px !important;" alt=""></a>

                                            {% endif %}
                                        </div>
                                        <div class="item-content">
                                            <h3><a href="/article/{{recent_entertainmentlistd.title_for_url|urlencode}}/{{recent_entertainmentlistd.article_published_date|date:'d-m-Y'}}-{{recent_entertainmentlistd.article_id}}">{{recent_entertainmentlistd.article_title}}</a></h3>
                                        </div>
                                    </div>
                                    {%endfor%}
                                 </div>
                            </div>
                        </div>

                        <!-- END .block-content -->
                    </div>
                    <!-- END .strict-block -->
                </div>


                <!-- END .content-main -->
            </div>

            <!-- END .wrapper -->
        </div>
    </div>
{% endblock %}