{% extends 'base/header.html' %}
{% block main %}
				
	<!-- BEGIN .wrapper -->
	<div class="wrapper">

		<!-- BEGIN .content-main -->
		<div class="content-main">

			<!-- BEGIN .strict-block -->
			<div class="strict-block">
				<!-- BEGIN .block-content -->
				<div class="error-big-message" style="margin:50px 0; background-image:url({{AWS_S3_BASE_URL}}{{BUCKET_PATH}}static/images/white_error_background.jpg); background-size:1200px 400px;">
					<h1>Author Not Found</h1>
					<!--<h2>Page Not Found</h2><br>-->
					<h3>Search your Query here...</h3><br>

					<div class="header-2-content" style="width:500px; padding-top: 0px ! important; background-color: #ccc; margin:0 auto; border-radius: 5px; padding:0 !important;">

						<div class="header-search">
							<!-- Google Search -->
							<script>
								(function() {
									var cx = '010349822524642757980:5yaubzxesvi';
									var gcse = document.createElement('script');
									gcse.type = 'text/javascript';
									gcse.async = true;
									gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
									var s = document.getElementsByTagName('script')[0];
									s.parentNode.insertBefore(gcse, s);
								})();
							</script>
							<gcse:search></gcse:search>
						</div>
					</div>
					<br><br>
					<p style="font-size:24px; color:#2E2E2E">Something has gone wrong and we could not trace the author you are looking for. Requesting you to search with a new set of keywords.</p>
					<a href="/"><i class="fa fa-home"></i>Back to Homepage</a>

				<!-- END .block-content -->
				</div>
			<!-- END .strict-block -->
			</div>

		<!-- END .content-main -->
		</div>

	<!-- END .wrapper -->
	</div>
{% endblock %}