{% extends 'base/header.html' %}
{% block main %}
	<!-- BEGIN .wrapper -->
	<div class="wrapper">
					
		<!-- BEGIN .content-main -->
		<div class="content-main with-sidebar left">

			<!-- BEGIN .strict-block -->
			<div class="strict-block">
				<div class="block-title">
					<h2>Latest Articles In Category</h2>
				</div>
			<!-- END .strict-block -->
			</div>

			<!-- BEGIN .strict-block -->
			<div class="strict-block" id="main_recent_article_div">
				<!-- BEGIN .block-content -->
				<div class="blog-style url-changer" id="recent_article_data" data-page-id="{{recent_articles.number}}" data-url="{{view_page_url}}/?page={{recent_articles.number}}" data-title="Latest News, Analysis, Opinion - BWHotelier - Page {{recent_articles.number}}" data-og_title="BW Businessworld | Recent Articles - Page {{recent_articles.number}}">

					{% for article in recent_articles %}
						<div class="item {% if article.image_url %} image-small {% else %} image-no {% endif %}">
							 {% if article.is_old == 1 %}
								<div class="item-header">
									<a href="/article/{{article.title_for_url|urlencode}}/{{article.article_published_date|date:'d-m-Y'}}-{{article.article_id}}" class="item-photo"><img data-original="{{article.image_url}}" alt="" class="lazy" style=" height: 219px;"/></a>
								</div>
                                                          {%else%}
                                                          <div class="item-header">
								<a href="/article/{{article.title_for_url|urlencode}}/{{article.article_published_date|date:'d-m-Y'}}-{{article.article_id}}" class="item-photo"><img data-original="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}{{ARTICLE_IMAGE_LARGE_PATH}}{{article.photopath}}" alt="" class="lazy" style=" height: 219px;"/></a>
                                                            </div>
                                                          
                                                          
							{% endif %}
							<div class="item-content">
								<h3><a href="/article/{{article.title_for_url|urlencode}}/{{article.article_published_date|date:'d-m-Y'}}-{{article.article_id}}">{{article.article_title}}</a></h3>
								<div class="item-icons">
									<a href="{{article.get_article_author_url}}"><i class="fa fa-user"></i>{{article.author_name}}</a>

								</div>

								<div class="item-icons">
                                    {% autoescape off %}
                                        {{article.get_article_category_data}}
                                    {% endautoescape %}
								</div>

								<p>{{article.article_summary}}</p>
								<a href="/article/{{article.title_for_url|urlencode}}/{{article.article_published_date|date:'d-m-Y'}}-{{article.article_id}}" class="trans-button"><i class="fa fa-align-right"></i>Read More</a>
							</div>
							<div class="clear-float"></div>
						</div>
					{% endfor %}

				<!-- END .block-content -->
				</div>
			<!-- END .strict-block -->
			</div>
		<!-- END .content-main -->
		</div>


		<!-- BEGIN #sidebar -->
		{% include 'base/sidebar.html' %}
	<!-- END .wrapper -->
	</div>
				
{% endblock %}