<!DOCTYPE HTML>
<!-- BEGIN html -->
<html lang = "en">
	<!-- BEGIN head -->
	<head>
		<title>BW | Businessworld</title>

		<!-- Meta Tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/bw_favicon.ico" type="image/x-icon" />

		<!-- Stylesheets -->
		<link type="text/css" rel="stylesheet" href="css/reset.css" />
		<link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" />
		<link type="text/css" rel="stylesheet" href="css/main-stylesheet.min.css" />
		<link type="text/css" rel="stylesheet" href="css/lightbox.css" />
		<link type="text/css" rel="stylesheet" href="css/shortcodes.css" />
		<link type="text/css" rel="stylesheet" href="css/custom-fonts.css" />
		<link type="text/css" rel="stylesheet" href="css/custom-colors.css" />
		<link type="text/css" rel="stylesheet" href="css/responsive.css" />
		<link type="text/css" rel="stylesheet" href="css/ot-menu.css" />
		<!--[if lte IE 8]>
		<link type="text/css" rel="stylesheet" href="css/ie-ancient.css" />
		<![endif]-->

		<!-- Demo Only -->
		<link type="text/css" rel="stylesheet" href="css/demo-settings.css" />

	<!-- END head -->
	</head>

	<!-- BEGIN body -->
	<body>

		<!-- BEGIN .boxed -->
		<div class="boxed active">
			
			<!-- BEGIN .header -->
			<header class="header">

				<div class="header-topmenu">
					<!-- BEGIN .wrapper -->
					<div class="wrapper">
						<ul class="left">
							<li><a href="#" class="topmenu-link topmenu-facebook"><i class="fa fa-facebook"></i><span class="counter">3.2k</span></a></li>
							<li><a href="#" class="topmenu-link topmenu-twitter"><i class="fa fa-twitter"></i><span class="counter">1.1k</span></a></li>
							<li><a href="#" class="topmenu-link topmenu-google"><i class="fa fa-google-plus"></i><span class="counter">300</span></a></li>
							<li><a href="#" class="topmenu-link topmenu-linkedin"><i class="fa fa-linkedin"></i><span class="counter">700</span></a></li>
						</ul>
						<ul class="right ot-menu-add" rel="Top Menu">
							
							<li><a href="#">Advertise With Us</a></li>
							
							<li><a href="#">Career</a></li>
							<li><a href="rss-feed.html">RSS Feeds</a></li>
							<li><a href="contact-us.html">Contact Us</a></li>
						</ul>
					<!-- END .wrapper -->
					</div>
				</div>
				
				<!-- BEGIN .wrapper -->
				<div class="wrapper">

					 <div class="wraphead header-1-content">
						<div class="header-logo">
							<a href="index.html"><img src="images/BW_logo.jpg" alt="" width="316"  /></a>
						</div>
						<div class="header-advert">
							<a href="#" target="_blank"><img src="images/banner-728x90.jpg" alt="" /></a>
						</div>
					</div> 

					
				<!-- END .wrapper -->
				</div>

					<div id="main-menu" class="thisisfixed">
						<!-- BEGIN .wrapper -->
						<div class="wrapper">
							<ul class="ot-menu-add" rel="Main Menu">
								<li style="border-top: 4px solid #4A5365;"><a style="background:#4A5365;" href="">Home</a></li>
                                
                                
                                <li class="big-drop big-drop-2 ot-dropdown" style="border-top: 4px solid #9CC668;"><a href=""><span>Exclusive</span></a>
									<ul class="sub-menu">
										<li class="menu-item ot-dropdown">
                                        
											<ul class="sub-menu" style="height: 0px;">
												<li id="menu-item-109" class="menu-item active">
													
													<div class="menu-content-inner" style="width:100% !important;">
														<div class="article-column" style="width:22% !important; margin:0 1.5% !important">
															<a href="#"><img src="images/photos/image-31.jpg" alt=""></a>
															<h3><a href="#">Eum in hinc inani pericula, cu quidam commune</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
                                                        <div class="article-column" style="width:22% !important; margin:0 1.5% !important">
															<a href="#"><img src="images/photos/image-31.jpg" alt=""></a>
															<h3><a href="#">Eum in hinc inani pericula, cu quidam commune</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
														<div class="article-column" style="width:22% !important; margin:0 1.5% !important">
															<a href="#"><img src="images/photos/image-32.jpg" alt=""></a>
															<h3><a href="#">An rebum nusquam cum duo invenire mundi</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
														<div class="article-column" style="width:22% !important; margin:0 1.5% !important">
															<a href="#"><img src="images/photos/image-33.jpg" alt=""></a>
														<h3><a href="#">An rebum nusquam cum duo invenire mundi</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
													</div>
												</li>
											</ul>
                                            
										</li>
									</ul>
								</li>
                                
                                
								
								<li class="normal-drop ot-dropdown" style="border-top: 4px solid #bd612a;"><a href=""><span>Cloumns</span></a>
									<ul>
										<li><a href="#">Image With Caption</a></li>
										<li><a href="#">Youtube Video</a></li>
										<li><a href="#">Vimeo video</a></li>
										<li><a href="#">Gallery Preview</a></li>
										<li><a href="#">Spacers</a></li>
										<li><a href="#">Quotes</a></li>
										<li><a href="#">Lists</a></li>
										<li><a href="#">Buttons</a></li>
										<li><a href="#">Tabs</a></li>
										<li><a href="#">Accordion</a></li>
										<li><a href="#">Social Icons</a></li>
										<li><a href="#">Alert Messages</a></li>
									</ul>
								</li>
								<li class="big-drop big-drop-2 ot-dropdown" style="border-top: 4px solid #359668;"><a href=""><span>Communities</span></a>
									<ul class="sub-menu">
										<li class="menu-item ot-dropdown">
											<ul class="sub-menu" style="height: 0px;">
												<li id="menu-item-109" class="menu-item active">
													<a href="#">BW Wealth</a>
													<div class="menu-content-inner">
														<div class="article-column">
															<a href="#"><img src="images/photos/image-31.jpg" alt=""></a>
															<h3><a href="#">Eum in hinc inani pericula, cu quidam commune</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
														<div class="article-column">
															<a href="#"><img src="images/photos/image-32.jpg" alt=""></a>
															<h3><a href="#">An rebum nusquam cum duo invenire mundi</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
														<div class="article-column">
															<a href="#"><img src="images/photos/image-33.jpg" alt=""></a>
														<h3><a href="#">An rebum nusquam cum duo invenire mundi</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
													</div>
												</li>
												<li class="menu-item">
													<a href="#">BW CIO</a>
													<div class="menu-content-inner">
														<div class="article-column">
															<a href="#"><img src="images/photos/image-32.jpg" alt=""></a>
															<h3><a href="#">An rebum nusquam cum duo invenire mundi</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
														<div class="article-column">
															<a href="#"><img src="images/photos/image-33.jpg" alt=""></a>
															<h3><a href="#">Eum in hinc inani pericula, cu quidam commune explicari vis</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
														<div class="article-column">
															<a href="#"><img src="images/photos/image-31.jpg" alt=""></a>
															<h3><a href="#">An rebum nusquam cum duo invenire mundi</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
													</div>
												</li>
												<li class="menu-item">
													<a href="#">BW Smart Cities</a>
													<div class="menu-content-inner">
														<div class="article-column">
															<a href="#"><img src="images/photos/image-33.jpg" alt=""></a>
															<h3><a href="#">An rebum nusquam cum duo invenire mundi</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
														<div class="article-column">
															<a href="#"><img src="images/photos/image-31.jpg" alt=""></a>
															<h3><a href="#">An rebum nusquam cum duo invenire mundi</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
														<div class="article-column">
															<a href="#"><img src="images/photos/image-32.jpg" alt=""></a>
															<h3><a href="#">An rebum nusquam cum duo invenire mundi</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
													</div>
												</li>
												<li class="menu-item">
													<a href="#">BW Hotelier</a>
													<div class="menu-content-inner">
														<div class="article-column">
															<a href="#"><img src="images/photos/image-31.jpg" alt=""></a>
															<h3><a href="#">An rebum nusquam cum duo invenire mundi</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
														<div class="article-column">
															<a href="#"><img src="images/photos/image-32.jpg" alt=""></a>
															<h3><a href="#">Duo alii diam ut, summo timeam pericula his in, nec ad graeco</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
														<div class="article-column">
															<a href="#"><img src="images/photos/image-33.jpg" alt=""></a>
															<h3><a href="#">Eum in hinc inani pericula, cu quidam commune</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
													</div>
												</li>
												<li class="menu-item">
													<a href="#">BW VC</a>
													<div class="menu-content-inner">
														<div class="article-column">
															<a href="#"><img src="images/photos/image-33.jpg" alt=""></a>
															<h3><a href="#">Eum in hinc inani pericula, cu quidam commune explicari vis</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
														<div class="article-column">
															<a href="#"><img src="images/photos/image-32.jpg" alt=""></a>
															<h3><a href="#">Eum in hinc inani pericula, cu quidam commune explicari vis</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
														<div class="article-column">
															<a href="#"><img src="images/photos/image-31.jpg"></a>
															<h3><a href="#">Duo alii diam ut, summo timeam pericula his in, nec ad graeco</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
													</div>
												</li>
											</ul>
										</li>
									</ul>
								</li>
                                
                                <li class="big-drop big-drop-2 ot-dropdown" style="border-top: 4px solid #F1BA2B;"><a href=""><span>BW Engage</span></a>
									<ul class="sub-menu">
										<li class="menu-item ot-dropdown">
                                        
											<ul class="sub-menu" style="height: 0px;">
												<li id="menu-item-109" class="menu-item active">
													
													<div class="menu-content-inner" style="width:100% !important;">
														<div class="article-column" style="width:22% !important; margin:0 1.5% !important">
															<a href="#"><img src="images/photos/image-31.jpg" alt=""></a>
															<h3><a href="#">Eum in hinc inani pericula, cu quidam commune</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
                                                        <div class="article-column" style="width:22% !important; margin:0 1.5% !important">
															<a href="#"><img src="images/photos/image-31.jpg" alt=""></a>
															<h3><a href="#">Eum in hinc inani pericula, cu quidam commune</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
														<div class="article-column" style="width:22% !important; margin:0 1.5% !important">
															<a href="#"><img src="images/photos/image-32.jpg" alt=""></a>
															<h3><a href="#">An rebum nusquam cum duo invenire mundi</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
														<div class="article-column" style="width:22% !important; margin:0 1.5% !important">
															<a href="#"><img src="images/photos/image-33.jpg" alt=""></a>
														<h3><a href="#">An rebum nusquam cum duo invenire mundi</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
													</div>
												</li>
											</ul>
                                            
										</li>
									</ul>
								</li>
                                
                                <li class="big-drop big-drop-2 ot-dropdown" style="border-top: 4px solid #D90108;"><a href=""><span>Videos</span></a>
									<ul class="sub-menu">
										<li class="menu-item ot-dropdown">
                                        
											<ul class="sub-menu" style="height: 0px;">
												<li id="menu-item-109" class="menu-item active">
													
													<div class="menu-content-inner" style="width:100% !important;">
														<div class="article-column" style="width:22% !important; margin:0 1.5% !important">
															<a href="#"><img src="images/photos/image-31.jpg" alt=""></a>
															<h3><a href="#">Eum in hinc inani pericula, cu quidam commune</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
                                                        <div class="article-column" style="width:22% !important; margin:0 1.5% !important">
															<a href="#"><img src="images/photos/image-31.jpg" alt=""></a>
															<h3><a href="#">Eum in hinc inani pericula, cu quidam commune</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
														<div class="article-column" style="width:22% !important; margin:0 1.5% !important">
															<a href="#"><img src="images/photos/image-32.jpg" alt=""></a>
															<h3><a href="#">An rebum nusquam cum duo invenire mundi</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
														<div class="article-column" style="width:22% !important; margin:0 1.5% !important">
															<a href="#"><img src="images/photos/image-33.jpg" alt=""></a>
														<h3><a href="#">An rebum nusquam cum duo invenire mundi</a></h3>
															<p>Lorem ipsum dolor sit amet, at nullam audire intellegebat vix. Has at iusto lobortis, qui nisl</p>
														</div>
													</div>
												</li>
											</ul>
                                            
										</li>
									</ul>
								</li>
                                
								<li style="border-top: 4px solid #2d8caf;"><a href="#">Subscribe</a></li>
							</ul>
						<!-- END .wrapper -->
						</div>
					</div>
					
					<div class="menu-overlay"></div>

					<div id="top-sub-menu">
						<!-- BEGIN .wrapper -->
						<div class="wrapper">
							
							<ul class="ot-menu-add" rel="Second Menu">
								<li><a href="blog.html">Eam dicta erant</a></li>
								<li><a href="blog.html">Scripta anmei</a></li>
								<li><a href="blog.html">Vero congue</a></li>
								<li><a href="blog.html">Veniam sum monostro</a></li>
								<li><a href="blog.html">Officiissea</a></li>
								<li><a href="blog.html">No his partem audiam</a></li>
								<li><a href="blog.html">At populo qualisque</a></li>
							</ul>

						<!-- END .wrapper -->
						</div>
					</div>
				
			<!-- END .header -->
			</header>
			
			<!-- BEGIN .content -->
			<section class="content">

				<div class="ot-jumplist">
					<a href="#open-jumplist" class="open-jumplist"><strong>Category Jumptlist&nbsp;&nbsp;<i class="fa fa-arrow-up"></i></strong></a>

					<div class="actual-list">
						<a href="#close-jumplist" class="close-jumplist"><strong>Jumplist<i class="fa fa-arrow-right"></i></strong></a>
						<ul>
							<li><a href="blog.html">No eumoratio</a></li>
							<li><a href="blog.html">Voluptatibus</a></li>
							<li><a href="blog.html">Decorevidisse</a></li>
							<li><a href="blog.html">Evertitur eamin</a></li>
							<li><a href="blog.html">Percusumo</a></li>
							<li><a href="blog.html">Labores ocurreret</a></li>
							<li><a href="blog.html">Nisl habemus</a></li>
							<li><a href="blog.html">Adolescens</a></li>
						</ul>
					</div>

					<a href="#" class="jumplist-facebook"><i class="fa fa-facebook"></i></a>
					<a href="#" class="jumplist-twitter"><i class="fa fa-twitter"></i></a>
					<a href="#" class="jumplist-google"><i class="fa fa-google-plus"></i></a>
				</div>
				
				<!-- BEGIN .wrapper -->
				<div class="wrapper">
					
					<!-- BEGIN .content-main -->
					<div class="content-main">

						<!-- BEGIN .strict-block -->
						<div class="strict-block">
							<div class="block-title">
								<h2>Magazine Issues</h2>
							</div>
							<!-- BEGIN .block-content -->
							<div class="block-content item-block-1 split-stuff blocks-4 products">
							     
                                 <div class="item-block product">
                                    <a href="#" class="product-content">
                                        <img src="images/magz-cover/14dec2015cover.jpg" alt="">
                                        <h3>14st December 2015</h3>
                                       
                                        <!--<!--<span class="price"><ins><span class="amount"><i class="fa fa-rupee"></i> 60.00</span></ins></span>-->
                                    </a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Print</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Digital</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">FLIP PDF</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Web</a>
							    </div>
                                
                                <div class="item-block product">
                                    <a href="#" class="product-content">
                                        <img src="images/magz-cover/30nov2015cover.jpg" alt="">
                                        <h3>30th November 2015</h3>
                                       
                                        <!--<span class="price"><ins><span class="amount"><i class="fa fa-rupee"></i> 60.00</span></ins></span>-->
                                    </a> <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Print</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Digital</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">FLIP PDF</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Web</a>
							    </div>
                                
                                 <div class="item-block product">
                                    <a href="#" class="product-content">
                                        <img src="images/magz-cover/16nov2015cover.jpg" alt="">
                                        <h3>16th November 2015</h3>
                                       
                                        <!--<span class="price"><ins><span class="amount"><i class="fa fa-rupee"></i> 60.00</span></ins></span>-->
                                    </a> <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Print</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Digital</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">FLIP PDF</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Web</a>
							    </div>
							    
                                <div class="item-block product">
                                    <a href="#" class="product-content">
                                      
                                        <img src="images/magz-cover/02nov2015cover.jpg" alt="">
                                        <h3>2nd November 2015</h3>
                                       
                                        <!--<span class="price"><ins><span class="amount"><i class="fa fa-rupee"></i> 60.00</span></ins></span>-->
                                    </a> <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Print</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Digital</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">FLIP PDF</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Web</a>
							    </div>
                                 
                                 <div class="item-block product">
                                    <a href="#" class="product-content">
                                        <img src="images/magz-cover/19oct2015cover.jpg" alt="">
                                        <h3>19th October 2015</h3>
                                       
                                        <!--<span class="price"><ins><span class="amount"><i class="fa fa-rupee"></i> 60.00</span></ins></span>-->
                                    </a> <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Print</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Digital</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">FLIP PDF</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Web</a>
							    </div>
                                
                                <div class="item-block product">
                                    <a href="#" class="product-content">
                                        <img src="images/magz-cover/05oct2015cover.jpg" alt="">
                                        <h3>5th October 2015</h3>
                                       
                                        <!--<span class="price"><ins><span class="amount"><i class="fa fa-rupee"></i> 60.00</span></ins></span>-->
                                    </a> <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Print</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Digital</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">FLIP PDF</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Web</a>
							    </div>
                                 
                                 <div class="item-block product">
                                    <a href="#" class="product-content">
                                        <img src="images/magz-cover/21sep2015cover.jpg" alt="">
                                        <h3>21st September 2015</h3>
                                       
                                        <!--<span class="price"><ins><span class="amount"><i class="fa fa-rupee"></i> 60.00</span></ins></span>-->
                                    </a> <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Print</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Digital</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">FLIP PDF</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Web</a>
							    </div>
                                
                                <div class="item-block product">
                                    <a href="#" class="product-content">
                                        <img src="images/magz-cover/07sep2015cover.jpg" alt="">
                                        <h3>7th September 2015</h3>
                                       
                                        <!--<span class="price"><ins><span class="amount"><i class="fa fa-rupee"></i> 60.00</span></ins></span>-->
                                    </a> <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Print</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Digital</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">FLIP PDF</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Web</a>
							    </div>
                                
                                 <div class="item-block product">
                                    <a href="#" class="product-content">
                                        
                                        <img src="images/magz-cover/24aug2015cover.jpg" alt="">
                                        <h3>24th August 2015</h3>
                                       
                                        <!--<span class="price"><ins><span class="amount"><i class="fa fa-rupee"></i> 60.00</span></ins></span>-->
                                    </a> <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Print</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Digital</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">FLIP PDF</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Web</a>
							    </div>
							    
                                <div class="item-block product">
                                    <a href="#" class="product-content">
                                       
                                        <img src="images/magz-cover/10aug2015cover.jpg" alt="">
                                        <h3>10th August 2015</h3>
                                       
                                        <!--<span class="price"><ins><span class="amount"><i class="fa fa-rupee"></i> 60.00</span></ins></span>-->
                                    </a> <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Print</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Digital</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">FLIP PDF</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Web</a>
							    </div>
                                 
                                 <div class="item-block product">
                                    <a href="#" class="product-content">
                                        <img src="images/magz-cover/27jul2015cover.jpg" alt="">
                                        <h3>27th July 2015</h3>
                                       
                                        <!--<span class="price"><ins><span class="amount"><i class="fa fa-rupee"></i> 60.00</span></ins></span>-->
                                    </a> <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Print</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Digital</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">FLIP PDF</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Web</a>
							    </div>
                                
                                <div class="item-block product">
                                    <a href="#" class="product-content">
                                        <img src="images/magz-cover/13jul2015cover.jpg" alt="">
                                        <h3>13th July 2015</h3>
                                       
                                        <!--<span class="price"><ins><span class="amount"><i class="fa fa-rupee"></i> 60.00</span></ins></span>-->
                                    </a> <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Print</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Digital</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">FLIP PDF</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Web</a>
							    </div>
                                
                                 <div class="item-block product">
                                    <a href="#" class="product-content">
                                        <img src="images/magz-cover/29jun2015cover.jpg" alt="">
                                        <h3>29th June 2015</h3>
                                       
                                        <!--<span class="price"><ins><span class="amount"><i class="fa fa-rupee"></i> 60.00</span></ins></span>-->
                                    </a> <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Print</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Digital</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">FLIP PDF</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Web</a>
							    </div>
							    
                                <div class="item-block product">
                                    <a href="#" class="product-content">
                                      
                                        <img src="images/magz-cover/15jun2015cover.jpg" alt="">
                                        <h3>15th June 2015</h3>
                                       
                                        <!--<span class="price"><ins><span class="amount"><i class="fa fa-rupee"></i> 60.00</span></ins></span>-->
                                    </a> <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Print</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Buy Digital</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">FLIP PDF</a>
                                    <a href="#" class="button add_to_cart_button" style="margin-left:1px !important; font-size:10px !important;">Web</a>
							    </div>
                                
							<!-- END .block-content -->
							</div>
                            
                            
						<!-- END .strict-block -->
						</div>

					<!-- END .content-main -->
					</div>
					
				<!-- END .wrapper -->
				</div>
				
			<!-- BEGIN .content -->
			</section>
			
			<!-- BEGIN .footer -->
			<footer class="footer">
					
				<!-- BEGIN .wrapper -->
				<div class="wrapper">
                
                	<div class="footer-much" style="border-top:3px solid #696969">
						<ul class="right">
                        	
							<li><a href="">Advertise With Us</a></li>
							
							<li><a href="">Career</a></li>
							<li><a href="">RSS Feeds</a></li>
							<li><a href="">Contact Us</a></li>
						</ul>
						<p>&copy; Copyright <b>BW BUSINESSWORLD </b> 2015. All Rights Reserved.<br/></p>
					<!-- END .footer-much -->
					</div>

					
				<!-- END .wrapper -->
				</div>
				
			<!-- END .footer -->
			</footer>
			
		<!-- END .boxed -->
		</div>

		<!-- Scripts -->
		<script type="text/javascript" src="jscript/jquery-latest.min.js"></script>
		<script type="text/javascript" src="jscript/theme-scripts.min.js"></script>
		<script type="text/javascript" src="jscript/lightbox.min.js"></script>
		<script type="text/javascript" async src="jscript/ot-menu.js"></script>
		<!-- Demo Only -->
		<script type="text/javascript" src="jscript/demo-settings.js"></script>

	<!-- END body -->
	</body>
<!-- END html -->
</html>