	{% extends 'base/header.html' %}
    {% block main %}
			<!-- BEGIN .wrapper -->
				<div class="wrapper">

					<!-- BEGIN .content-main -->
					<div class="content-main with-sidebar left">

						<!-- BEGIN .strict-block -->
						<div class="strict-block">

							<div class="block-title">
								<h2>Past Events</h2>
							</div>

                            <div class="main-article">
                            	<h1 style=" margin-top:10px;">BW Hotelier Event</h1>

                                     {% for event_articled in event_articles %}
                                  <div class="paragraph-row">

                                                            <div class="column5">
                                                                <!-- BEGIN .article-double-main -->
                                                                <div class="article-double-main">
                                                                    <div class="item-photo">
                                                                                <a href="{{event_articled.image_url}}" target="_blank"><img src="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}{{EVENT_IMAGE_PATH}}{{ event_articled.imagepath }}" class="item-photo"  width="100%" alt=""></a>



                                                                    </div>
                                                                    <div class="item-content">

                                                                        <div class="item-icons">
                                                                           <a href="{{event_articled.image_url}}">Start Date :<i class="fa fa-calendar"></i>{{event_articled.start_date|date:'F d, Y'}}  End Date :<i class="fa fa-calendar"></i>{{event_articled.end_date|date:'F d, Y'}}</a>

                                                                        </div>

                                                                    </div>

                                                                <!-- END .article-double-main -->
                                                                </div>

                                                            </div>

                                                            <div class="column7">
                                                                <!-- BEGIN .article-double-side -->
                                                                <div class="article-double-side">
                                                                    {%  for arcticleall_event in event_articled.get_article_author_name %}
                                                                        <div class="item" >

                                                                            <div class="item-content" style="margin-left:0 !important">
                                                                                <h3>
                                                                                    <a href="/article/{{arcticleall_event.title_for_url|urlencode}}/{{arcticleall_event.article_published_date|date:'d-m-Y'}}-{{arcticleall_event.article_id}}" >{{arcticleall_event.article_title}}</a>

                                                                                </h3>
                                                                                <div class="item-links">
                                                                                    <a href="/article/{{arcticleall_event.title_for_url|urlencode}}/{{arcticleall_event.article_published_date|date:'d-m-Y'}}-{{arcticleall_event.article_id}}"><i class="fa fa-align-right"></i><b>Read More</b></a>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}




                                                                    <!-- End -->
                                                                <!-- END .article-double-side -->
                                                                </div>
                                                            </div>
                                                        </div>
                                <div class="spacer-2"></div>
                                    {%endfor%}


                                         <div>
                                              {% if event_articles.has_previous %}

                <a class="button" href='{{ request.path }}?page={{event_articles.previous_page_number}}'><i class="fa fa-arrow-left"></i>&nbsp; Previous</a>

    {% endif %}
                                               {% if event_articles.has_next %}
                                                <a href="{{ request.path }}?page={{event_articles.next_page_number}}" class="button right">Next &nbsp;<i class="fa fa-arrow-right"></i></a>

    {% endif %}
                                            </div>


                            </div>
						<!-- END .strict-block -->
						</div>
					<!-- END .content-main -->
					</div>


					<!-- BEGIN #sidebar -->
					{% include 'base/sidebar.html' %}
				<!-- END .wrapper -->
				</div>
    {% endblock %}