<!DOCTYPE HTML>
<!-- BEGIN html -->
<html lang = "en">
    <!-- BEGIN head -->
    <head>
        

         <title>{{meta_title}}</title>

        <!-- Meta Tags -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="title" content="{{meta_title}}" />
        <meta name="description" content="{{meta_description}}" />
        <meta name="keyword" content="{{meta_keyword}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        
        <meta property="og:title" content="{{og_title}}" />
        <meta property="og:url" content="{{ request.scheme }}://{{request.get_host}}{{og_url}}" />
        <meta property="og:image" content="{{og_image}}"/>
        <meta property="og:description" content="{{meta_description}}" />
        <meta content="726601580803263" property="fb:app_id">
        <meta content="BW wellbeingworld" property="og:site_name">
        <meta content="article" property="og:type">
        <!-- Canonical Tag if any -->
        {% autoescape off %}
        {{canoical_tag}}
	{{amp_tag}}
        {% endautoescape %}
        <!-- End -->

        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/images/" type="image/x-icon" />
	<link type="text/css" rel="stylesheet" href="/static/css/froala_style.min.css" />
        <!-- Stylesheets -->
        <link type="text/css" rel="stylesheet" href="/static/css/reset.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/font-awesome.min.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/main-stylesheet.min.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/lightbox.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/shortcodes.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/custom-fonts.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/custom-colors.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/responsive.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/ot-menu.css" />
        <!--[if lte IE 8]>
        <link type="text/css" rel="stylesheet" href="css/ie-ancient.css" />
        <![endif]-->
    <!-- END head -->
    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5N5NN9P');</script>
<!-- End Google Tag Manager -->
<script>
  googletag.cmd.push(function() {
    googletag.defineSlot('/95119545/BWWellness_ROS_Large_Leaderboard', [970, 90], 'div-gpt-ad-1534756621128-0').addService(googletag.pubads());
    googletag.defineSlot('/95119545/BWWellness_ROS_Medium_Rectangle', [300, 250], 'div-gpt-ad-1534756674059-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>


    </head>
 	  
   <!-- BEGIN body -->
    <body style="background-image: url(static/images/wellness-background.jpg); background-size: cover;">
	<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5N5NN9P"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
        <div class="boxed">
            <header class="header">
                <!--<div class="header-topmenu">
                    <div class="wrapper">		
                        <ul class="right ot-menu-add" rel="Top Menu">
                           <li><a href="/magazine-issues/{% now 'Y' %}">Magazine Issue</a></li>
                            <li><a href="http://businessworld.in/advertise-with-BW-Businessworld" target="_blank">Advertise With Us</a></li>
                            <li><a href="/rss-feed/">RSS Feeds</a></li>
                            <li><a href="http://businessworld.in/contact-us/" target="_blank">Contact Us</a></li>
                        </ul>
                    <!-- END .wrapper 
                    </div>
                </div>-->
                <!--<div class="wrapper"  style="text-align: center;margin:5px;width:100%">
                          <!-- /95119545/BWWellness_ROS_Large_Leaderboard -->
                        <!--<div id='div-gpt-ad-1534756621128-0' style='height:90px; width:970px; margin:0 auto;'>
                        <script>
                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1534756621128-0'); });
                        </script>
                        </div>
                        
                </div>-->
                
                <div class="wrapper">
                    <div class="wraphead header-2-content" style="border-bottom:1px solid #f6f6f6;">
                        <div class="header-logo">

                           <!-- <a href="/"><img src="/static/images/BW-wellness-logo537x132.png" alt=""  width="350" /></a>-->
                           <h1>BW Design-World</h1>

                        </div>
                        <!--<div class="header-advert">
                           <p style="margin:0; padding:0; font-size:8px; float:right;">Advertisement</p>
                            <a href="http://bwevents.co.in/bw/hr-conclave/"><img src="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}static_bwhr/images/HR-Banner-728x90.jpg" alt=""  /></a>
                        </div>-->
                        <div class="header-advert">
                           <p style="margin:0; padding:0; font-size:8px; float:right;">Advertisement</p>
                            <!-- Ad Slot 3 tag: --> 
                        <!-- begin ZEDO for channel: Home_BW HR (NEW), Publisher: BW HR, Ad Dimension: Super Banner-728x90 --> 
                        <div id="zt_30095_3" style="display:show"> 
                        <script id="zt_30095_3" language="javascript"> 

                       if(typeof zmt_mtag !='undefined' && typeof zmt_mtag.zmt_render_placement !='undefined')
                       {
                            zmt_mtag.zmt_render_placement(p30095_3);
                       }
                        </script>
                        </div>
                        <!-- end ZEDO for channel:  Home_BW HR (NEW), Publisher: BW HR, Ad Dimension: Super Banner-728x90 --> 

                        </div>
                    <!-- END .wrapper -->
                    </div>
                </div>
                <div id="top-sub-menu">
                    <!-- BEGIN .wrapper -->
                    <div class="wrapper">
                         <ul class="ot-menu-add" rel="Navigate Here" style="border-bottom:1px solid #f6f6f6; padding:0 3%;">
                            <li><a href="/">Home</a></li>
                            <li><a href="/category/Mind-21/">Mind</a></li>
                            <li><a href="/category/Body-22/">Body</a></li>
                            <!--<li style="border-top: 4px solid #2d8caf;"><a href="/category/Jobs-208/">Jobs</a></li>-->
                            <li><a href="/category/Soul-27/">Soul</a></li>
                            <li><a href="/category/personal-space-30">Personal Space</a></li>
			                 <li><a href="/category/worklife-34">Worklife</a></li>
			                 <li><a href="/category/causes-35">Causes</a></li>
                            <li style="/all-videos"><a href="/all-videos">video</a></li>
			                 <li><div class="header-2-content" style="padding-top: 0px ! important; background-color: #f5f5f5; margin-bottom:0px; border-radius: 5px; padding:0 !important;">
                            <div class="header-search" >
                                <script async src="https://cse.google.com/cse.js?cx=010349822524642757980:jewiozfgg54"></script>
                            <div class="gcse-search"></div>
                            </div>
                        </div></li>
                            
                        </ul>
                        
                        <!-- END .wrapper -->
                    </div>
                </div>

                <div class="menu-overlay"></div>

            <!-- END .header -->
            </header>
        <!-- BEGIN .content -->
         <section class="content">
             <!-- BEGIN .wrapper -->
            <div class="wrapper">
                <div class="content-main">
                    
                    {% block main %}{% endblock %}
                </div>
            </div>
        </section>

        <!-- BEGIN .footer -->
            <footer class="footer" >

                <div class="footer-blocks" style="background: #2e313a ;">
                    <!-- BEGIN .wrapper -->
                    <div class="wrapper">
                        <!-- BEGIN .widget -->
                        <div class="widget">
                            <a href="#"> 
                                <img src="/static/images/BW-WELLBEING-LOGO.png" style="width: 200px; padding: 10px; border-radius: 5px; background:#2e313a;" alt="BW Wellness" title="BW Wellness"/>
                            </a>	
                        <!-- END .widget -->
                        </div>
                        <!-- BEGIN .widget -->
                        <div class="widget">
                            <h3 style="color: #fff;">Follow US</h3>
                            <div style="padding:0 0 15px 0; ">
                                <div class="socialize-tool" style="text-align: left !important;">
                                    <a href="https://www.facebook.com/bwwellbeing" class="socialize-icon facebook" target="blank">
                                        <i class="fa fa-facebook"></i>
                                       
                                    </a>
                                    <a href="https://twitter.com/BW_Wellbeing" class="socialize-icon twitter" target="blank">
                                        <i class="fa fa-twitter"></i>
                                        
                                    </a>
                                     <a href="http://www.youtube.com/user/bwbusinessworld?sub_confirmation=1" class="socialize-icon google" target="blank">
                                        <i class="fa fa-youtube"></i>
                                        
                                </a>
                                <a href="https://www.linkedin.com/company/bwbusinessworld/" class="socialize-icon linkedin" target="blank">
                                        <i class="fa fa-linkedin"></i>
                                        
                                </a>
                                </div>

                            </div>

                        <!-- END .widget -->
                        </div>
                        <div class="widget">
                            <h3 style="color: #fff; text-align: center;">Subscribe Our Newsletter</h3>
                            <div>
                                <div class="subscribe-feed">
                                    <form  method="post" id="newsletterf_form" >
                                        {% csrf_token %}  
                                          <input type="hidden" name="newsletter_type_id" value="1">
                                        <p><input value="" placeholder="Your e-mail" type="text" name="subscriber_email_id" id="subscriber_email_idf" required></p>
                                        <p><input  style="background: #006699 !important;" value="Subscribe Now" type="submit" id="newsletter_submitf"></p>
                                        
                                    </form>
                                </div>
                                <br>
                            </div>

                        <!-- END .widget -->
                        </div>
                        
                        <div class="clear-float"></div>
                    <!-- END .wrapper -->
                    </div>
                <!-- END .footer-blocks -->
                </div>

                <!-- BEGIN .wrapper -->
                <div class="wrapper" >

                        <!-- BEGIN .footer-much -->
                        <div class="footer-much">
                                 <ul class="right">
                           <li><a href="/magazine-issues/{% now 'Y' %}">Magazine Issue</a></li>
                            <li><a href="http://businessworld.in/advertise-with-BW-Businessworld" target="_blank">Advertise With Us</a></li>
                            <li><a href="/rss-feed/">RSS Feeds</a></li>
                            <li><a href="http://businessworld.in/contact-us/" target="_blank">Contact Us</a></li>
                        </ul>
                                <p>&copy; Copyright <b>BW Wellbeingworld </b> 2018. All Rights Reserved.</p>
                        <!-- END .footer-much -->
                        </div>

                <!-- END .wrapper -->
                </div>

            <!-- END .footer -->
            </footer>
        <!-- END .boxed -->
        </div>    
        <!-- Scripts -->
        <script type="text/javascript" src="/static/jscript/jquery-latest.min.js"></script>
        <script type="text/javascript" src="/static/jscript/theme-scripts.min.js"></script>
        <script type="text/javascript" src="/static/jscript/lightbox.min.js"></script>
        <script type="text/javascript" async src="/static/jscript/ot-menu.js"></script>
        <script type="text/javascript" src="/static/jscript/greensock.js"></script>
    <!-- END body -->
    
   
    <script type="text/javascript" src="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}static/jscript/body.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}static/jscript/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}static/jscript/sweetalert.min.js">
    <script>
        $(function() {
            $("#newsletter_submit").click(function(event) {
                event.preventDefault
                //alert($('#newsletter_form').serialize());
                //console.log("create post is working!") // sanity check
                $.ajax({
                    url : "/newsletter_Subscriber_details/", // the endpoint
                    type : "POST", // http method
                    data : $('#newsletter_form').serialize(), // data sent with the post request

                    // handle a successful response
                    success : function(json) {
                        $('#subscriber_email_id').val(''); // remove the value from the input
                        console.log(json); // log the returned json to the console
                        console.log("success"); // another sanity check
                        $.each(json, function(index, element) {
                            if(index == 'checkuser') {
                                swal({
                                title: "Oops!",
                                text: "Sorry you seem to have already subscribed to this newsletter!",
                                type: "error",
                                 confirmButtonText: "OK"
                                });
                            }
                             if(index == 'success') {
                                swal({
                                title: "Thank You!",
                                text: "You have successfully subscribed to the newsletter!",
                                type: "success",
                                 confirmButtonText: "OK"
                             });
                            }
                             if(index == 'error') {
                                swal({
                                title: "Sorry!",
                                text: "Something seem to have gone wrong! Check your email ID and try again.",
                                type: "error",
                                 confirmButtonText: "OK"
                                });
                            }
                        });
                    },
                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+" <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            });
        });





    </script>
    <script>
            $(window).load(function(){
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        function getCookie(name) {
                            var cookieValue = null;
                            if (document.cookie && document.cookie != '') {
                                var cookies = document.cookie.split(';');
                                for (var i = 0; i < cookies.length; i++) {
                                    var cookie = jQuery.trim(cookies[i]);
                                    // Does this cookie string begin with the name we want?
                                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                            return cookieValue;
                        }
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                });
            });
        </script>
        <script>
        $(function() {
            $("#newsletter_submitf").click(function(event) {
                event.preventDefault
                //alert($('#newsletter_form').serialize());
                //console.log("create post is working!") // sanity check
                $.ajax({
                    url : "/newsletter_Subscriber_details/", // the endpoint
                    type : "POST", // http method
                    data : $('#newsletterf_form').serialize(), // data sent with the post request

                    // handle a successful response
                    success : function(json) {
                        $('#subscriber_email_idf').val(''); // remove the value from the input
                        console.log(json); // log the returned json to the console
                        console.log("success"); // another sanity check
                        $.each(json, function(index, element) {
                            if(index == 'checkuser') {
                                swal({
                                title: "Oops!",
                                text: "Sorry you seem to have already subscribed to this newsletter!",
                                type: "error",
                                 confirmButtonText: "OK"
                                });
                            }
                             if(index == 'success') {
                                swal({
                                title: "Thank You!",
                                text: "You have successfully subscribed to the newsletter!",
                                type: "success",
                                 confirmButtonText: "OK"
                             });
                            }
                             if(index == 'error') {
                                swal({
                                title: "Sorry!",
                                text: "Something seem to have gone wrong! Check your email ID and try again.",
                                type: "error",
                                 confirmButtonText: "OK"
                                });
                            }
                        });
                    },
                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+" <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            });
        });
        
        
    </script>
    </body>
<!-- END html -->
</html>
