<!DOCTYPE HTML>
<!-- BEGIN html -->
<html lang = "en">
    <!-- BEGIN head -->
    <head>
        <title>BW Design World | Homepage</title>

        <!-- Meta Tags -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
         <meta property="og:title" content="Latest News from Indian Design and Others – BW Design World" />
        <meta property="og:url" content="Design.com" />
        <meta property="og:image" content="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}"/>
        <meta content="726601580803263" property="fb:app_id">
        <meta content="BW Wellness" property="og:site_name">
        <!-- Favicon -->
       

        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/images/fevicon.ico" type="image/x-icon" />

        <!-- Stylesheets -->
        <link type="text/css" rel="stylesheet" href="/static/css/reset.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/font-awesome.min.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/main-stylesheet.min.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/lightbox.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/shortcodes.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/custom-fonts.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/custom-colors.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/responsive.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/ot-menu.css" />
        <!--[if lte IE 8]>
        <link type="text/css" rel="stylesheet" href="css/ie-ancient.css" />
        <![endif]-->

       
    <!-- END head -->
    </head>
    <!-- BEGIN body -->
    
    <!-- BEGIN body -->
    <body>

        <!-- BEGIN .boxed -->
        <div class="boxed">
        
            <header class="header">
                
                    <!--<div class="wrapper">		
                        <ul class="right ot-menu-add" rel="Top Menu">
                           <li><a href="/magazine-issues/{% now 'Y' %}">Magazine Issue</a></li>
                            <li><a href="http://businessworld.in/advertise-with-BW-Businessworld" target="_blank">Advertise With Us</a></li>
                            <li><a href="/rss-feed/">RSS Feeds</a></li>
                            <li><a href="http://businessworld.in/contact-us/" target="_blank">Contact Us</a></li>
                        </ul>
                    <!-- END .wrapper 
                    </div> -->
                
                <div class="wrapper">
                    <div class="wraphead header-1-content">
                        <div class="header-logo">

                            <!--<a href="/"><img src="/static/images/" alt=""  width="350" /></a>-->
                            <h1>BW Design-World</h1>

                        </div>
                        <!--<div class="header-advert">
                           <p style="margin:0; padding:0; font-size:8px; float:right;">Advertisement</p>
                            <a href="http://bwevents.co.in/bw/hr-conclave/"><img src="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}static_bwhr/images/HR-Banner-728x90.jpg" alt=""  /></a>
                        </div>-->
                        <div class="header-advert">
                           <p style="margin:0; padding:0; font-size:8px; float:right;">Advertisement</p>
                            <!-- Ad Slot 3 tag: --> 
                        <!-- begin ZEDO for channel: Home_BW HR (NEW), Publisher: BW HR, Ad Dimension: Super Banner-728x90 --> 
                        <div id="zt_30095_3" style="display:show"> 
                        <script id="zt_30095_3" language="javascript"> 

                       if(typeof zmt_mtag !='undefined' && typeof zmt_mtag.zmt_render_placement !='undefined')
                       {
                            zmt_mtag.zmt_render_placement(p30095_3);
                       }
                        </script>
                        </div>
                        <!-- end ZEDO for channel:  Home_BW HR (NEW), Publisher: BW HR, Ad Dimension: Super Banner-728x90 --> 

                        </div>
                    <!-- END .wrapper -->
                    </div>
                </div>
                <div id="top-sub-menu">
                    <!-- BEGIN .wrapper -->
                    <div class="wrapper">
                        <ul class="ot-menu-add" rel="Main Menu">
                            <li style="border-top: 4px solid #4A5365;"><a style="background:#4A5365;" href="/">Home</a></li>
                            <li  style="border-top: 4px solid #9CC668;"><a href="/category/#/">Feature</a></li>
                            <li style="border-top: 4px solid #bd612a;"><a href="/category/#/">Yoga</a></li>
                            <!--<li style="border-top: 4px solid #2d8caf;"><a href="/category/Jobs-208/">Jobs</a></li>-->
                            <li style="border-top: 4px solid #2d8caf;"><a href="/category/#/">Column</a></li>
                            <li style="border-top: 4px solid #359668;"><a href="/category/#">Interviews</a></li>
                            <li style="border-top: 4px solid #F1BA2B;"><a href="/category/#">Podcast</a></li>
                            <li style="border-top: 4px solid #2d8caf;"><a href="/category/#">Quotes</a></li>
                        </ul>
                        <!-- END .wrapper -->
                    </div>
                </div>

                

            <!-- END .header -->
            </header>
            <!-- BEGIN .content -->
            <section class="content">
                <div class="wrapper">                   
                    <!-- BEGIN .content-main -->
                    <div class="content-main">
                        
                        <div class="paragraph-row">
                            <!-- BEGIN .content -->
                            {% block main %}{% endblock %}
                        </div>
                    </div>
                </div>

            </section>

            <!-- BEGIN .footer -->
            <footer class="footer" >
                
                <div class="footer-blocks" style="background: #2e313a ;">
                
                    <!-- BEGIN .wrapper -->
                    <div class="wrapper">

                        <!-- BEGIN .widget -->
                        <div class="widget">
                            <a href="#"> 
                                <img src="images/BW-design-logo537x132-.png" style="width: 200px; padding: 10px; border-radius: 5px; background:#fff;" alt="BW design" title="BW design"/>
                            </a>    
                        <!-- END .widget -->
                        </div>

                        <!-- BEGIN .widget -->
                        <div class="widget">
                            <h3 style="color: #fff;">Follow US</h3>
                            <div style="padding:0 0 15px 0; ">
                                                        <div class="socialize-tool" style="text-align: left !important;">
                                                            <a href="#" class="socialize-icon facebook">
                                                                <i class="fa fa-facebook"></i>
                                                                <span>3.2k</span>
                                                            </a>
                                                            <a href="#" class="socialize-icon twitter">
                                                                <i class="fa fa-twitter"></i>
                                                                <span>1.1k</span>
                                                            </a>
                                                            <a href="#" class="socialize-icon google">
                                                                <i class="fa fa-google-plus"></i>
                                                                <span>300</span>
                                                            </a>
                                                            <a href="#" class="socialize-icon linkedin">
                                                                <i class="fa fa-linkedin"></i>
                                                                <span>700</span>
                                                            </a>
                                                        </div>
                                                        
                                                    </div>
                            
                        <!-- END .widget -->
                        </div>
                        
                        <!-- BEGIN .widget -->
                        <div class="widget">
                            <h3 style="color: #fff; text-align: center;">Subscribe Our Newsletter</h3>
                            <div>
                                <div class="subscribe-feed">
                                    <form  method="post" id="newsletterf_form" >
                                        {% csrf_token %}  
                                          <input type="hidden" name="newsletter_type_id" value="1">
                                        <p><input value="" placeholder="Your e-mail" type="text" name="subscriber_email_id" id="subscriber_email_idf" required></p>
                                        <p><input  style="background: #006699 !important;" value="Subscribe Now" type="submit" id="newsletter_submitf"></p>
                                        
                                    </form>
                                </div>
                                <br>
                            </div>

                        <!-- END .widget -->
                        </div>
                        <div class="clear-float"></div>

                    <!-- END .wrapper -->
                    </div>

                <!-- END .footer-blocks -->
                </div>
                    
                <!-- BEGIN .wrapper -->
                <div class="wrapper" >

                    <!-- BEGIN .footer-much -->
                    <div class="footer-much">
                        <ul class="right">
                            <li><a href="#">Magazine Issue</a></li>
                            <li><a href="#">Advertise With Us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">RSS Feeds</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                        <p>&copy; Copyright <b>BW design </b> 2018. All Rights Reserved.</p>
                    <!-- END .footer-much -->
                    </div>
                    
                <!-- END .wrapper -->
                </div>
                
            <!-- END .footer -->
            </footer>
            
        <!-- END .boxed -->
        </div>

         <script type="text/javascript" src="/static/jscript/theme-scripts.min.js"></script>
        <script type="text/javascript" src="/static/jscript/lightbox.min.js"></script>
        <script type="text/javascript" async src="/static/jscript/ot-menu.js"></script>
        <script type="text/javascript" src="/static/jscript/greensock.js"></script>
    <!-- END body -->
    <script>
        
       

            $(window).load(function(){
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        function getCookie(name) {
                            var cookieValue = null;
                            if (document.cookie && document.cookie != '') {
                                var cookies = document.cookie.split(';');
                                for (var i = 0; i < cookies.length; i++) {
                                    var cookie = jQuery.trim(cookies[i]);
                                    // Does this cookie string begin with the name we want?
                                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                            return cookieValue;
                        }
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                });
            });
        </script>
        <script>
        $(function() {
            $("#newsletter_submitf").click(function(event) {
                event.preventDefault
                //alert($('#newsletter_form').serialize());
                //console.log("create post is working!") // sanity check
                $.ajax({
                    url : "/newsletter_Subscriber_details/", // the endpoint
                    type : "POST", // http method
                    data : $('#newsletterf_form').serialize(), // data sent with the post request

                    // handle a successful response
                    success : function(json) {
                        $('#subscriber_email_idf').val(''); // remove the value from the input
                        console.log(json); // log the returned json to the console
                        console.log("success"); // another sanity check
                        $.each(json, function(index, element) {
                            if(index == 'checkuser') {
                                swal({
                                title: "Oops!",
                                text: "Sorry you seem to have already subscribed to this newsletter!",
                                type: "error",
                                 confirmButtonText: "OK"
                                });
                            }
                             if(index == 'success') {
                                swal({
                                title: "Thank You!",
                                text: "You have successfully subscribed to the newsletter!",
                                type: "success",
                                 confirmButtonText: "OK"
                             });
                            }
                             if(index == 'error') {
                                swal({
                                title: "Sorry!",
                                text: "Something seem to have gone wrong! Check your email ID and try again.",
                                type: "error",
                                 confirmButtonText: "OK"
                                });
                            }
                        });
                    },
                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+" <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            });
        });
        
        
    </script>
    <!-- END body -->
    </body>
<!-- END html -->
</html>
