{% extends 'base/header.html' %}
{% block main %}
<div class="wrapper">

    <!-- BEGIN .content-main -->
    <div class="content-main with-sidebar left">

        <!-- BEGIN .strict-block -->
        <div class="strict-block">

            <div class="block-title">
                <h2>Quick Bytes</h2>
            </div>
            <!-- END .strict-block -->
        </div>

        <div class="strict-block">
            <div class="blog-style">
                {% for quickbytes in quick_bytes %}
                <div class="item image-small">
                    <div class="item-header">
                        <a href="{{quickbytes.get_absolute_url}}">

                            <img src="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}{{QUICKBYTES_IMAGE_EXTRA_LARGE_PATH}}{{quickbytes.quick_byte_photo_name}}" class="item-photo" width="100%" alt="" />
                        </a>

                    </div>
                    <div class="item-content">
                        <h3><a href="{{quickbytes.get_absolute_url}}">{{quickbytes.quick_byte_title}}</a></h3>

                        <!--<div class="item-icons">
                                                                        <a href="blog.html"><span style="color:#A00707">Health</span></a>
                            <a href="blog.html"><span style="color:#A00707">Wealth</span></a>
                            <a href="blog.html"><span style="color:#A00707">Insurance</span></a>
                                                                </div>-->

                        {% autoescape off %}
                        <p>{{ quickbytes.quick_byte_description|slice:":300" }}</p>
                        {% endautoescape %}
                        <a href="{{quickbytes.get_absolute_url}}"><i class="fa fa-align-right"></i>Read More</a>
                    </div>
                    <div class="clear-float"></div>
                </div>




                {% endfor %}
                <!-- END .strict-block -->
            </div>

            {% if quick_bytes.has_previous or quick_bytes.has_next %}
            <div class="pagination">
                {% if quick_bytes.has_previous %}<a href="?page={{ quick_bytes.previous_page_number }}" class="prev page-numbers">{% endif %}<i class="fa fa-caret-left"></i>{% if quick_bytes.has_previous %}</a>{% endif %}

                {% if show_first %}
                <a href="?page=1" class="page-numbers">1</a>
                <span class="page-numbers">...</span>
                {% endif %}

                {% for page in page_numbers %}
                {% if forloop.counter != 1 %} | {% endif %}
                <a href="?page={{page}}" class="page-numbers {% if page == quick_bytes.number %} current {% endif %}">{{ page }}</a>
                {% endfor %}

                {% if show_last %}
                <span class="page-numbers">...</span>
                <a href="?page={{ last_page }}" class="page-numbers">{{ last_page }}</a>
                {% endif %}

                {% if quick_bytes.has_next %}<a href="?page={{ quick_bytes.next_page_number }}" class="next page-numbers">{% endif %}<i class="fa fa-caret-right"></i>{% if quick_bytes.has_next %}</a>{% endif %}
            </div>
            {% endif %}

            <!--<div class="pagination">
                    <a href="#" class="prev page-numbers"><i class="fa fa-caret-left"></i></a>
                    <a href="#" class="page-numbers">1</a>
                    <a href="#" class="page-numbers current">2</a>
                    <a href="#" class="page-numbers">3</a>
                    <a href="#" class="page-numbers">4</a>
                    <a href="#" class="next page-numbers"><i class="fa fa-caret-right"></i></a>
            </div>-->

        </div>
        <!-- END .content-main -->
    </div>


    {% include 'base/sidebar.html' %}

    <!-- END .wrapper -->
</div>
{% endblock %}
