{% extends 'base/header.html' %}
{% block main %}
	<div class="wrapper">
		<!-- .with-sidebar / .with-sidebar-both / .with-middle -->
		<!-- BEGIN .content-main -->
		<div class="content-main with-sidebar left">
			<!-- BEGIN .strict-block -->
			<div class="strict-block" id="quick_byte_content">
                <div class="main-article">
                    <h1>{{quickbytes_detail.quick_byte_title}}</h1>

					<!-- Start of addthis side sharing code -->
                        <div class="addthis_sharing_toolbox"></div>
                        <!-- End of addthis side sharing code -->

                    <p><i>{{quickbytes_detail.quick_byte_description}}</i></p>
                    <div id="quick_byte_image_change_{{quickbytes_detail.quick_byte_id}}">
                        <div class="article-header" id="gallery">
                            <h3>
                                <a href="/quickbytes/{{quickbytes_detail.quick_byte_title_for_url|urlencode}}-{{quickbytes_detail.quick_byte_id}}/{{prev_quick_byte_pic.quick_byte_image_title_for_url}}-{{prev_quick_byte_pic.quick_byte_image_id}}" id="photoprev" onclick="prev_quick_byte(event)" class="pull-left">
                                    <b><i class="fa fa-arrow-circle-left"></i></b>
                                </a>
                                <span>{{quick_bytes_image.quick_byte_photo_title}}</span>
                                <a href="/quickbytes/{{quickbytes_detail.quick_byte_title_for_url|urlencode}}-{{quickbytes_detail.quick_byte_id}}/{{next_quick_byte_pic.quick_byte_image_title_for_url}}-{{next_quick_byte_pic.quick_byte_image_id}}" id="photonext" onclick="next_quick_byte(event)" class="pull-right">
                                    <b><i class="fa fa-arrow-circle-right"></i></b>
                                </a>
                            </h3>
                            <img src="{{quick_bytes_image.quick_byte_photo_url}}" class="article-photo" alt="" style="margin-top:0 !important" />
                            <div class="article-meta">
                                <div class="meta-date">
                                    <span class="date">{{quickbytes_detail.quick_byte_published_date|date:"d"}}</span>
								    <span class="month">{{quickbytes_detail.quick_byte_published_date|date:"F, Y"}}</span>
								    <span class="author">by <a href="/author/{{author_label}}/{{author_details.0.author_name_for_url|urlencode}}-{{author_details.0.author_id}}">{{author_details.0.author_name}}</a></span>
                                    <!--<span class="date">20</span>
                                    <span class="month">January, 2013</span>
                                    <span class="author">by <a href="#">BW Online Bureau</a></span>-->
                                </div>
                                <div class="meta-tools">
                                    <a href="#"><i class="fa fa-print"></i>Print this article</a>
                                    <span><i class="fa fa-text-height"></i>Font size <span class="f-size"><a href="#font-size-down">-</a><span class="f-size-number">16</span><a href="#font-size-up">+</a></span></span>
                                </div>
                            </div>
                            <p><i>{{quick_bytes_image.quick_byte_photo_description}}</i></p>
                        </div>
                     </div>

                    <div class="social-article">
                        <div class="custom-title"><strong>Share this article:</strong></div>
                        <!-- Start of addthis side sharing code -->
                        <div class="addthis_sharing_toolbox"></div>
                        <!-- End of addthis side sharing code -->
                    </div>

					<hr />

                    <hr />
                </div>
				<!-- END .strict-block -->
			</div>

			<!-- BEGIN .strict-block -->
			<div class="strict-block">
				<div class="main-banner" style="height:90px !important;">
					<p style="margin:0; padding:0; font-size:8px; float:right;">Advertisement</p>
					<!-- Javascript tag  -->
					<!-- begin ZEDO for channel:  Quick Bytes LP , publisher: Businessworld , Ad Dimension: Super Banner-728x90-2-QB-LP - 728 x 90 -->
					<script language="JavaScript">
						var zflag_nid="3336"; var zflag_cid="3"; var zflag_sid="1"; var zflag_width="728"; var zflag_height="90"; var zflag_sz="21";
					</script>
					<script language="JavaScript" src="http://xp2.zedo.com/jsc/xp2/fo.js"></script>
					<!-- end ZEDO for channel:  Quick Bytes LP , publisher: Businessworld , Ad Dimension: Super Banner-728x90-2-QB-LP - 728 x 90 -->
					<!--<a href="#" target="_blank"><img data-original="/static/images/banner-728x90.jpg" alt="" class="lazy"/></a>-->
				</div>
				<!-- END .strict-block -->
			</div>

			<!-- BEGIN .strict-block -->
			<div class="strict-block">
				<div class="block-title">
					<h2>Around The World</h2>

				</div>
				<!-- BEGIN .block-content -->
				<div class="block-content item-block-1 split-stuff">
					<!-- Out Brain Code -->
					<div class="OUTBRAIN" data-widget-id="AR_1" data-ob-template="BusinessWorld"></div>
					<script type="text/javascript" src="http://widgets.outbrain.com/outbrain.js"></script>
					<!-- End -->
				</div>
					<!-- END .strict-block -->
			</div>

				<!-- BEGIN .strict-block -->
			<div class="strict-block">
				<div class="block-title">
					<h2>Our Publications</h2>

				</div>
				<!-- BEGIN .block-content -->
				<div class="block-content item-block-2 split-stuff blocks-3">
					<img src="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}static/images/our_pub_banner.jpg" width="100%"/>
                        <a href="http://subscribe.businessworld.in">
                            <input value="Subscribe To Print Copies" type="submit">
                        </a>
                        <a href="http://www.magzter.com/publishers/GBN-Media-Pvt-Ltd">
                            <input value="Subscribe To Digital Copies" style="margin-top:5px;" type="submit">
                        </a>
				</div>
				<!-- END .block-content -->
			</div>
			<!-- END .strict-block -->

			<div class="strict-block">
				<div class="main-banner" style="height:90px !important;">
					<p style="margin:0; padding:0; font-size:8px; float:right;">Advertisement</p>
					<!-- Javascript tag  -->
					<!-- begin ZEDO for channel:  Quick Bytes LP , publisher: Businessworld , Ad Dimension: Super Banner-728x90-2-QB-LP - 728 x 90 -->
					<script language="JavaScript">
						var zflag_nid="3336"; var zflag_cid="3"; var zflag_sid="1"; var zflag_width="728"; var zflag_height="90"; var zflag_sz="21";
					</script>
					<script language="JavaScript" src="http://xp2.zedo.com/jsc/xp2/fo.js"></script>
					<!-- end ZEDO for channel:  Quick Bytes LP , publisher: Businessworld , Ad Dimension: Super Banner-728x90-2-QB-LP - 728 x 90 -->
					<!--<a href="#" target="_blank"><img data-original="/static/images/banner-728x90.jpg" alt="" class="lazy"/></a>-->
				</div>
				<!-- END .strict-block -->
			</div>
			<!-- END .content-main -->
		</div>

		<!-- END .wrapper -->
	</div>
{% endblock %}