{% extends 'base/header.html' %}
{% block main %}
	<div class="wrapper">
		<!-- .with-sidebar / .with-sidebar-both / .with-middle -->
		<!-- BEGIN .content-main -->
		<div class="content-main with-sidebar left">
			<!-- BEGIN .strict-block -->
			<div class="strict-block" id="quick_byte_content">
                <div class="main-article">
                    <h1>{{quickbytes_detail.quick_byte_title}}</h1>

					<!-- Start of addthis side sharing code -->
					<div class="addthis_sharing_toolbox"></div>
					<!-- End of addthis side sharing code -->

                    <p style="margin:15px 0;"><i>{{quickbytes_detail.quick_byte_description}}</i></p>
                    <input type="hidden" name="IL_IN_TAG" value="1"/>
                    <div id="quick_byte_image_change">
                        <div class="article-header" id="gallery">
                            <h3 style="text-align: center;">
								{% if prev_quick_byte_pic %}
                                	<a href="/quickbytes/{{quickbytes_detail.quick_byte_title_for_url|urlencode}}/{{quickbytes_detail.quick_byte_id}}/{{prev_quick_byte_pic.quick_byte_image_title_for_url}}-{{prev_quick_byte_pic.quick_byte_image_id}}" id="photoprev" onclick="prev_quick_byte(event)" class="pull-left" data-title="{{prev_quick_byte_pic.quick_byte_photo_name}}">
								{% else %}
									<a href="/quickbytes/{{prev_quick_byte.quick_byte_title_for_url|urlencode}}/{{prev_quick_byte.quick_byte_published_date|date:'d-m-Y'}}-{{prev_quick_byte.quick_byte_id}}" id="quickbyteprev" onclick="prev_quick_byte_change(event)" class="pull-left" data-title="{{prev_quick_byte.quick_byte_title}}">
								{% endif %}
                                    <b><i class="fa fa-arrow-circle-left"></i></b>
                                </a>
                                <span>{{quick_bytes_image.quick_byte_photo_title}}</span>

								{% if next_quick_byte_pic %}
                                	<a href="/quickbytes/{{quickbytes_detail.quick_byte_title_for_url|urlencode}}/{{quickbytes_detail.quick_byte_id}}/{{next_quick_byte_pic.quick_byte_image_title_for_url}}-{{next_quick_byte_pic.quick_byte_image_id}}" id="photonext" onclick="next_quick_byte(event)" class="pull-right" data-title="{{next_quick_byte_pic.quick_byte_photo_name}}">
								{% else %}
									<a href="/quickbytes/{{next_quick_byte.quick_byte_title_for_url|urlencode}}/{{next_quick_byte.quick_byte_published_date|date:'d-m-Y'}}-{{next_quick_byte.quick_byte_id}}" id="quickbytenext" onclick="next_quick_byte_change(event)" class="pull-right" data-title="{{next_quick_byte.quick_byte_title}}">
								{% endif %}
                                    <b><i class="fa fa-arrow-circle-right"></i></b>
                                </a>
                            </h3>

                            <!-- Image photo credit -->
                            {% if quick_bytes_image.photo_by %}
                                <div style="width:100%; text-align:right;">
                                    <p style="font-size: 12px; line-height: 12px;">Photo Credit : {{quick_bytes_image.photo_by}}</p>
                                </div>
                            {% endif %}
                            <!-- End -->

                            <img src="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}{{QUICKBYTES_IMAGE_EXTRA_LARGE_PATH}}{{quick_bytes_image.quick_byte_photo_name}}" class="article-photo" alt="" style="margin-top:0 !important"/>
                            <div class="article-meta">
                                <div class="meta-date">
                                    <span class="date">{{quickbytes_detail.quick_byte_published_date|date:"d"}}</span>
								    <span class="month">{{quickbytes_detail.quick_byte_published_date|date:"F, Y"}}</span>
								    <span class="author">by <a href="/author/{{author_label}}/{{author_details.0.author_name_for_url|urlencode}}-{{author_details.0.author_id}}">{{author_details.0.author_name}}</a></span>
                                    <!--<span class="date">20</span>
                                    <span class="month">January, 2013</span>
                                    <span class="author">by <a href="#">BW Online Bureau</a></span>-->
                                </div>
                                <div class="meta-tools">
                                    <a href="#"><i class="fa fa-print"></i>Print this article</a>
                                    <span><i class="fa fa-text-height"></i>Font size <span class="f-size"><a href="#font-size-down">-</a><span class="f-size-number">16</span><a href="#font-size-up">+</a></span></span>
                                </div>
                            </div>
                            <p><i>{{quick_bytes_image.quick_byte_photo_description}}</i></p>
                        </div>
                     </div>

                    <div class="social-article">
                        <div class="custom-title"><strong>Share this article:</strong></div>
						<!-- Start of addthis side sharing code -->
                        <div class="addthis_sharing_toolbox"></div>
                        <!-- End of addthis side sharing code -->
                    </div>
                    <hr />

                    <div class="tag-cloud">
                        <div class="custom-title"><strong>Tags assigned to this article:</strong></div>
                        {% for tag in quickbytes_tags %}
                            <a href="/tags/{{tag.title_for_url|urlencode}}-{{tag.tag_id}}/">{{tag.tag_name}}</a>
                        {% endfor %}
                    </div>

                    <hr />
                </div>
				<!-- END .strict-block -->
			</div>

			<!-- BEGIN .strict-block -->
			<div class="strict-block">
				<div class="main-banner" style="height:90px !important;">
                                <p style="margin:0; padding:0; font-size:8px; float:right;">Advertisement</p>
					<!-- Ad Slot 4 tag: --> 
                        <!-- begin ZEDO for channel: ROS_BW HR (NEW), Publisher: BW HR, Ad Dimension: Supper Banner - Secondary-728x90 --> 
                        <div id="zt_249046_4" style="display:show"> 
                        <script id="zt_249046_4" language="javascript"> 

                       if(typeof zmt_mtag !='undefined' && typeof zmt_mtag.zmt_render_placement !='undefined')
                       {
                            zmt_mtag.zmt_render_placement(p249046_4);
                       }
                        </script>
                        </div>
                        <!-- end ZEDO for channel:  ROS_BW HR (NEW), Publisher: BW HR, Ad Dimension: Supper Banner - Secondary-728x90 --> 
				</div>
				<!-- END .strict-block -->
			</div>

			<!-- BEGIN .strict-block -->
			<div class="strict-block">
				<div class="block-title">
					<h2>Around The World</h2>

				</div>
				<!-- BEGIN .block-content -->
				<div class="block-content item-block-1 split-stuff">
					<!-- Out Brain Code -->
					<div class="OUTBRAIN" data-widget-id="AR_1" data-ob-template="BusinessWorld"></div>
					<script type="text/javascript" src="http://widgets.outbrain.com/outbrain.js"></script>
					<!-- End -->
				</div>
					<!-- END .strict-block -->
			</div>

					<!-- BEGIN .strict-block -->
                <div class="strict-block">
                    <div class="block-title">
                        <h2>Our Publications</h2>

                    </div>
                    <!-- BEGIN .block-content -->
                    <div class="block-content item-block-2 split-stuff blocks-3">
                        <img src="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}static/images/our_pub_banner.jpg" width="100%"/>
                        <a href="http://subscribe.businessworld.in">
                            <input value="Subscribe To Print Copies" type="submit">
                        </a>
                        <a href="http://www.magzter.com/publishers/GBN-Media-Pvt-Ltd">
                            <input value="Subscribe To Digital Copies" style="margin-top:5px;" type="submit">
                        </a>
                    </div>
                    <!-- END .block-content -->
                </div>
                <!-- END .strict-block -->

			<!-- BEGIN .strict-block -->
			<div class="strict-block">
				<div class="main-banner" style="height:90px !important;">
                    <p style="margin:0; padding:0; font-size:8px; float:right;">Advertisement</p>
					<!-- Ad Slot 4 tag: --> 
                        <!-- begin ZEDO for channel: ROS_BW HR (NEW), Publisher: BW HR, Ad Dimension: Supper Banner - Secondary-728x90 --> 
                        <div id="zt_249046_4" style="display:show"> 
                        <script id="zt_249046_4" language="javascript"> 

                       if(typeof zmt_mtag !='undefined' && typeof zmt_mtag.zmt_render_placement !='undefined')
                       {
                            zmt_mtag.zmt_render_placement(p249046_4);
                       }
                        </script>
                        </div>
                        <!-- end ZEDO for channel:  ROS_BW HR (NEW), Publisher: BW HR, Ad Dimension: Supper Banner - Secondary-728x90 --> 
				</div>
				<!-- END .strict-block -->
			</div>
			<!-- END .content-main -->
		</div>

        <!-- Mini Sidebar Start -->
        <!--<div class="mini-sidebar">

			<!--<div class="widget">
				<div class="side-banner">
					<a href="#" target="_blank"><img data-original="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}static/images/banner-160x250.jpg" alt="" class="lazy"/></a>
				</div>
			</div>-->

            <!--{% if quickbytes_related_articles.0 %}
                <div class="widget">
                    <h3>Related Quickbyte</h3>
                    <div class="middle-articles">
                        {% for quickbytes_related_articlesed in quickbytes_related_articles%}
                        <div class="item">
                            <a href="#">
                                <img data-original="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}{{QUICKBYTES_IMAGE_THUMB_PATH}}{{quickbytes_related_articlesed.quick_byte_photo_name}}" alt="" class="lazy"/>
                            </a>
                            <h4><a href="#">{{quickbytes_related_articlesed.quick_byte_title}}</a></h4>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            {% endif %}

			{% if sponsored_detail.0 %}
                <div class="widget">
                    <h3>Sponsored</h3>
                    <div class="middle-articles">
                        {% for sponsored in sponsored_detail %}
                        <div class="item">
                            <a href="/sponser/{{sponsored.title_for_url|urlencode}}/{{sponsored.sponsoredposts_published_date|date:'d-m-Y'}}-{{sponsored.sponsoredposts_id}}">
                                {% if sponsored.image_url %}
                                    <img data-original="{{sponsored.image_url}}" style="width:160px; height:95px;" alt="" class="lazyed"/>
                                {%endif%}
                            </a>
                            <h4><a href="/sponser/{{sponsored.title_for_url|urlencode}}/{{sponsored.sponsoredposts_published_date|date:'d-m-Y'}}-{{sponsored.sponsoredposts_id}}">{{sponsored.sponsoredposts_title}}</a></h4>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            {% endif %}

            <div class="widget">
                <h3>BW Network</h3>
                <div class="middle-articles">
                    {% for entry in feeds_cric.entries|slice:":2" %}
                        <div class="item">
                            <h4><a href="#">{{ entry.title}}</a></h4>
                            <a href="#" style="color:#aaa; line-height: 32px; font-size:14px;"><b>BW CIO</b></a>
                        </div>
                    {%endfor%}
                    {% for entryed in feeds_cric.entries|slice:":2" %}
                        <div class="item">
                            <h4><a href="#">{{ entryed.title}}</a></h4>
                            <a href="#" style="color:#aaa; line-height: 32px; font-size:14px;"><b>BW HOTELIER</b></a>
                        </div>
                    {%endfor%}
                    {% for entrys in feeds_cric.entries|slice:":2"  %}
                        <div class="item">
                            <h4><a href="#">{{ entrys.title}}</a></h4>
                            <a href="#" style="color:#aaa; line-height: 32px; font-size:14px;"><b>BW SMARTCITIES</b></a>
                        </div>
                    {%endfor%}
                </div>
            </div>

            <div class="widget" >
                <div class="side-banner">
                    <!-- /133806567/Article_Page_Middle_Panel_2 -->
                    <!--<div id='div-gpt-ad-1447742601367-0'>
                        <script type='text/javascript'>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1447742601367-0'); });
                        </script>
                    </div>
                </div>
            </div>
		</div>-->
        <!-- Mini Sidebar End -->

		<!-- BEGIN #sidebar -->
		{% include 'base/sidebar.html' %}
		<!-- END .wrapper -->
	</div>
	<script>
		function prev_quick_byte(e)
		{
            e.preventDefault();
            var url_to_hit = $("#photoprev").attr("href");
            var title = $("#photoprev").attr("data-title");
            $("#quick_byte_image_change").html('<div id="gallery" class="article-header"><img src="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}static/images/loading.gif" alt="Loading Image" style="margin:15% 45%;"/></div>');
            //alert(url_to_hit);
            $("#quick_byte_image_change").load(url_to_hit + " #quick_byte_image_change > *").hide().fadeIn(6000);
            window.history.replaceState(null, null, url_to_hit);
			ga('send', {
				'hitType': 'pageview',
				'page': url_to_hit,
				'title': title
			});
		}

		function next_quick_byte(e)
		{
		    e.preventDefault();
		    var url_to_hit = $("#photonext").attr("href");
            var title = $("#photonext").attr("data-title");
            $("#quick_byte_image_change").html('<div id="gallery" class="article-header"><img src="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}static/images/loading.gif" alt="Loading Image" style="margin:15% 45%;"/></div>');
		    //alert(url_to_hit);
            $("#quick_byte_image_change").load(url_to_hit + " #quick_byte_image_change > *").hide().fadeIn(6000);
            window.history.replaceState(null, null, url_to_hit);
            ga('send', {
				'hitType': 'pageview',
				'page': url_to_hit,
				'title': title
			});
		}

		function prev_quick_byte_change(e)
		{
            e.preventDefault();
            var url_to_hit = $("#quickbyteprev").attr("href");
            var title = $("#quickbyteprev").attr("data-title");
            $("#quick_byte_content").html('<div id="gallery" class="article-header"><img src="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}static/images/loading.gif" alt="Loading QuickByte" style="margin:15% 45%;"/></div>');
            //alert(url_to_hit);
            $("#quick_byte_content").load(url_to_hit + " #quick_byte_content > *").hide().fadeIn(6000);
            window.history.replaceState(null, null, url_to_hit);
            ga('send', {
				'hitType': 'pageview',
				'page': url_to_hit,
				'title': title
			});
		}

		function next_quick_byte_change(e)
		{
			e.preventDefault();
            var url_to_hit = $("#quickbytenext").attr("href");
            var title = $("#quickbytenext").attr("data-title");
            $("#quick_byte_content").html('<div id="gallery" class="article-header"><img src="{{AWS_S3_BASE_URL}}{{BUCKET_PATH}}static/images/loading.gif" alt="Loading QuickByte" style="margin:15% 45%;"/></div>');
            //alert(url_to_hit);
            $("#quick_byte_content").load(url_to_hit + " #quick_byte_content > *").hide().fadeIn(6000);
            window.history.replaceState(null, null, url_to_hit);
            ga('send', {
				'hitType': 'pageview',
				'page': url_to_hit,
				'title': title
			});
		}
	</script>
{% endblock %}